*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background-image: url("./w\ 5.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* nav bar */
 #logo{
    font-size: 36px;
    font-weight: 700;
    color: white;
    text-shadow:0px 1px 1px black;
    margin-bottom: 1px;
}
#logo span{
    color:yellowgreen;
}
.navbar-toggler span{
    color:yellowgreen;
}
.navbar-nav{
    margin-left: 340px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color:black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    
}
.nav-item .nav-link:hover{
    background:yellowgreen;
    color: black;
}


/* login  */ 
.loginform{
    background-color:white;
    width: 30%;
    height:auto;
    margin: 7% auto;
    padding: 25px 10px;
}
.formm{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}